<nav class="navbar navbar-expand-md w-100 fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

        <!-- Left items -->
        <div class="d-flex align-items-center">
            <div class="dropdown">
                <a class="nav-link px-2 dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    <img src="/images/account_icon.svg" alt="user" style="height:25px;">
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="profile">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="nav-link px-2 dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    <img src="/images/bell.svg" alt="notif" style="height:25px;">
                </a>
                <div class="dropdown-menu text-center">
                    <a class="dropdown-item" href="#">Notification 1</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Notification 2</a>
                </div>
            </div>
        </div>

        <!-- Right items -->
        <div class="d-flex align-items-center">
            <div class="nav-sync-wrapper position-relative">
                <a class="nav-link px-2" href="#" id="syncBtn">
                    <img src="/images/check.svg" alt="sync" style="height:25px;">
                </a>

                <div id="syncToast" class="toast position-absolute start-50 top-100 mt-2 me-3" role="alert"
                     aria-live="assertive" aria-atomic="true">
                    <div class="toast-body">
                        🔄 Synchronizacja rozpoczęta...
                    </div>
                </div>
            </div>

            <a class="nav-link px-2" href="#">
                <img src="/images/watch.svg" alt="img4" style="height:25px;">
            </a>
        </div>
    </div>
</nav>